# version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=9911
    ports:
      - "9911:9911"
    env_file:
      - .env
    restart: unless-stopped
